@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');

:root {
	--yellow: #FFD15B;
	--black: #1B1B1B;
	--grey_principal: #7A7A7A;
	--grey: #EDEDED;
	--light-grey: #C6C6C6;
	--bg-color: #FAFAFA;
}

* {
	padding: 0;
	margin: 0;

	font-family: 'Manrope', sans-serif;
	color: var(--black);

	box-sizing: border-box;
}

body {
	background-color: var(--grey);
}

a {
	text-decoration: none;
}

main {
	padding: 30px;

	margin: 0 auto;
	max-width: 1750px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#receipesNumbers {
	font-family: 'Anton', sans-serif;
	font-size: 21px;
	font-weight: 400;
}

.cross {
	cursor: pointer;
	
	margin-left: -84px !important;
	margin-right: 10px;
}

.cross-dropdown {
	width: 10px !important;

	margin-right: 6px;
	margin-left: -38px !important;
}